* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 23vh;
    background-image: linear-gradient(#4a707a, #4a707a);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 36px;
    color: white;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    color: aliceblue;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}

.navbar ul li a::before,
.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #cddee5;
    left: 0;
    bottom: -5px;
    transition: all 0.3s ease;
}

.navbar ul li a::before {
    transform: rotateX(0deg);
    background: linear-gradient(to right, transparent, #cddee5, transparent);
    transition: transform 0.5s;
    transform-origin: bottom;
}

.navbar ul li a::after {
    background: linear-gradient(to right, transparent, #cddee5, transparent);
    transition: transform 0.5s;
    transform-origin: top;
}

.navbar ul li a:hover::before {
    transform: rotateX(360deg);
}

.navbar ul li a:hover::after {
    transform: rotateX(360deg);
}

body {
    background-image: url('gambar/pantai.jpg');
    background-size: cover;
    position: relative;
    background-color: #f0f0f0;
    }

.container {
        max-width: 800px;
        margin: 0 auto;
        padding: 15px;
    }

.blur-box {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 550%; /* Sesuaikan dengan kebutuhan */
    background-color: rgba(0, 0, 0, 0.8); /* Warna hitam dengan opasitas 0.5 */
    backdrop-filter: blur(10px); /* Efek blur */
    z-index: -1;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f0f0f0;
}

.content p {
    margin: 20px 60px;
    font-weight: 50px;
    line-height: 25px;
    color: white;
}
.hobi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobi-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center; /* Membuat teks di tengah */
margin-bottom: 30px; /* Memberikan ruang di bawah setiap hobi */
}

.hobi-item:hover {
    transform: scale(1.1);
}

.hobi-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.hobi-item .info {
    padding: 10px;
}

.hobi-item h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
padding-bottom: 5px;
}

.hobi-item p {
    font-size: 14px;
    line-height: 1.6;
}