* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#4a707a, #4a707a);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 36px;
    color: white;
    font-weight: bold;
    width: 120px;
    cursor: pointer;
}

body {
    background-image: url('gambar/pantai.jpg');
    background-size: cover;
    position: relative;
}

.content {
    top: 200%;
    width: 100%;
    text-align: center;
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.blur-box {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 600%; /* Sesuaikan dengan kebutuhan */
    background-color: rgba(0, 0, 0, 0.8); /* Warna hitam dengan opasitas 0.5 */
    backdrop-filter: blur(10px); /* Efek blur */
    z-index: 0;
}

.content h1 {
    font-size: 80px;
    margin-top: 80px;
    color: white;
    z-index: 1; /* Mengatur lapisan di atas elemen blur */
}

.content p {
    margin: 20px 250px;
    color: white;
}
.button {
    padding: 10px 20px;
    margin: 10px;
    background-color: transparent;
    color: #7296a4;
    border: 3px solid #7296a4;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #7296a4;
    color: white;
}

