* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #7296a4;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
nav {
    background: #9ebecb;
    padding: -10px;
    text-align: left;
}
nav ul {
    list-style-type: none;
    text-align: left; /* Mengatur agar link berada di tengah */
}
nav ul li {
    display: inline-block; /* Menyusun link secara horizontal */
    margin-right: 20px; /* Memberikan jarak antar link */
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}
nav ul li:hover a {
color: lightskyblue; /* Mengubah warna teks menjadi merah saat kursor di atasnya */
}

header h2 {
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Bayangan teks */
font-weight: bold; /* Tebal */
font-size: 50px; /* Ukuran teks */
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
article {
    flex: 1;
    padding: 20px;
    background-color: #e6f0f2;
    display: flex;
    align-items: center; /* Memusatkan elemen vertikal */
    justify-content: space-around; /* Mengatur jarak antara gambar dan teks */
}
article div {
    margin-top: -100px; /* Menggeser teks ke atas */
}
article h1 {
    color: #4a707a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 45px;
}
article h3 {
    color: #7697a0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}
article img {
    width: 400px; /* Lebar gambar */
    
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
@media (max-width: 600px) {
    nav, article {
        width: 100%;
    }
}